<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation=" http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd ">

    <!--加密算法配置-->
    <bean id="credentialsMatcher"
          class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!--设置加密算法为md5-->
        <property name="hashAlgorithmName" value="MD5"/>
        <!--加密迭代次数-->
        <property name="hashIterations" value="1"/>
    </bean>
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie" >
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <!-- 默认记住7天（单位：秒） -->
        <property name="maxAge" value="604800"/>
    </bean>
    <!-- rememberMe管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie" />
    </bean>

    <!--自定义的Realm-->
    <bean id="userRealm" class="com.hw.auth.UserRealm">
        <!--自定义realm中使用配置的加密算法-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!--安全管理器-->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--安全管理器中使用自定义的realm-->
        <property name="realm" ref="userRealm"/>
        <property name="rememberMeManager" ref="rememberMeManager" />
    </bean>

<!--    注解支持-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <!--
        配置哪些些页面在访问时需要认证/授权
        1. anon 可以被匿名访问
        2. authc 必须认证（登陆）才能访问的页面
    -->
    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--配置核心安全接口-->
        <property name="securityManager" ref="securityManager"/>
        <!--需要登录时跳转的地址-->
        <property name="loginUrl" value="/login"/>
        <!--
            登录成功跳转到的页面，因为我们有自己的跳转逻辑，
            所以这里不进行配置
        -->
        <!--<property name="successUrl" value="" />-->
        <property name="filterChainDefinitions">
            <value>
                <!-- 对静态资源设置允许匿名访问 -->
                /api/** = anon
                /css/** = anon
                /images/** = anon
                /js/** = anon
                /lib/** = anon
                /page/**.html = anon
                <!--登陆相关-->
                /formLogin/** = anon
                /captcha/** = anon
                /login/verify = anon
                <!--退出-->
                /**/logout = logout
                <!--其它资源要权限才能访问-->
                /** = authc
            </value>
        </property>
    </bean>


</beans>